{% extends 'admin.html.twig' %}

{% block title %}Éditer Famille médévale{% endblock %}

{% block body %}
    <h4 class="center-align">Éditer Famille médévale</h4>

    {{ include('medieval_family/_form.html.twig', {'button_label': 'maj'}) }}

   <a href="{{ path('medieval_family_index') }}"><button class="btn orange"> liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}