{% extends 'base.html.twig' %}

{% block title %}edit MedievalFamily{% endblock %}

{% block body %}
    <h4 class="center-align">éditer MedievalFamily</h4>

    {{ include('medieval_family/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('medieval_family_index') }}">retours à la liste</a>

    {{ include('medieval_family/_delete_form.html.twig') }}
{% endblock %}
