{% extends 'base.html.twig' %}

{% block title %}New MedievalFamily{% endblock %}

{% block body %}
    <h1>Create new MedievalFamily</h1>

    {{ include('medieval_family/_form.html.twig') }}

    <a href="{{ path('medieval_family_index') }}">back to list</a>
{% endblock %}
