{% extends 'base.html.twig' %}

{% block title %}New MedievalFamily{% endblock %}

{% block body %}
    <h4 class="center-align">Create new MedievalFamily</h4>

    {{ include('medieval_family/_form.html.twig') }}

    <a href="{{ path('medieval_family_index') }}">retours à la liste</a>
{% endblock %}
