<h1>Bonjour et bienvenue sur le site des Lames du Ponant AMHE de Saint-Nazaire</h1>

<p>
    S'il vous plait, veuillez confirmer votre email sur le lien ci-dessous <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
   Ce lien expirera dans {{ expiresAt|date('g') }} heures.
</p>

<p>
    Merci!
</p>
