{% extends 'admin.html.twig' %}

{% block title %}Editer Discipline{% endblock %}

{% block body %}
<h4 class="center-align">éditer la discipline</h4>
    {{ include('discipline/_form.html.twig', {'button_label': 'Maj'})}}
<a href="{{ path('discipline_index') }}"><button class="btn orange"> liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
