<div class="container">

<div class="row">

{% form_theme form 'templates/materialize_layout.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    

    <button class="btn">{{ button_label|default('sauvegarder') }}</button>
{{ form_end(form) }}

</div>
</div>
