{% extends 'base.html.twig' %}

{% block title %}edit CategoryForum{% endblock %}

{% block body %}
    <h4 class="center-align">éditer CategoryForum</h4>

    {{ include('category_forum/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('category_forum_index') }}">retours à la liste</a>

    {{ include('category_forum/_delete_form.html.twig') }}
{% endblock %}
