{% extends 'base.html.twig' %}

{% block title %}Edit CategoryForum{% endblock %}

{% block body %}
    <h1>Edit CategoryForum</h1>

    {{ include('category_forum/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('category_forum_index') }}">back to list</a>

    {{ include('category_forum/_delete_form.html.twig') }}
{% endblock %}
