{% extends 'admin.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h4 class="center-align">Create new CategoryForum</h4>

    {{ include('category_forum/_form.html.twig') }}

    <a href="{{ path('category_forum_index') }}"><button class="btn orange"> liste</button></a>
{% endblock %}
