{% extends 'default.html.twig' %}

{% block title %}New CategoryForum{% endblock %}

{% block body %}
    <h4 class="center-align">Create new CategoryForum</h4>

    {{ include('category_forum/_form.html.twig') }}

    <a href="{{ path('category_forum_index') }}">retours à la liste</a>
{% endblock %}
