{% extends 'admin.html.twig' %}

{% block title 'crea AMHE'%}

{% block body %}
<h1 class="center-align">Création de la page AMHE</h1>
    {{ include('amhe/_form.html.twig') }}

    <a href="{{ path('amhe_index') }}"><button class="btn orange">liste</button></a>



{% endblock %}
