{% extends 'admin.html.twig' %}

{% block title %}Édition HomeInfo{% endblock %}

{% block body %}
    <h1>Éditer HomeInfo</h1>

    {{ include('home_info/_form.html.twig', {'button_label': 'Maj'}) }}

  <a href="{{ path('home_info_index') }}"><button class="btn orange">liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}