{% extends 'admin.html.twig' %}

{% block title 'Édition Infos'%}

{% block body %}
    <h4 class="center-align">Éditer les infos</h4>

    {{ include('home_info/_form.html.twig', {'button_label': 'Maj'}) }}

  <a href="{{ path('home_info_index') }}"><button class="btn orange">liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}