<form method="post" action="{{ path('subject_forum_delete', {'id': subject_forum.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subject_forum.id) }}">
    <button class="btn red">Supprimer</button>
</form>
