{% extends 'base.html.twig' %}

{% block title %}Edit SubjectForum{% endblock %}

{% block body %}
    <h1>Edit SubjectForum</h1>

    {{ include('subject_forum/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('subject_forum_index') }}">back to list</a>

    {{ include('subject_forum/_delete_form.html.twig') }}
{% endblock %}
