{% extends 'default.html.twig' %}

{% block title %}edit SubjectForum{% endblock %}

{% block body %}
    <h4 class="center-align">éditer SubjectForum</h4>

    {{ include('subject_forum/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('subject_forum_index') }}"><button class="btn orange"> liste</button></a>

    {{ include('subject_forum/_delete_form.html.twig') }}
{% endblock %}
