{% extends 'default.html.twig' %}

{% block title %}New SubjectForum{% endblock %}

{% block body %}
    <h4 class="center-align">Create new SubjectForum</h4>

    {{ include('subject_forum/_form.html.twig') }}

    <a href="{{ path('subject_forum_index') }}"><button class="btn orange"> liste</button></a>
{% endblock %}
