{% extends 'admin.html.twig' %}

{% block title %}edit CategoryForum{% endblock %}

{% block body %}
    <h1 class="center-align">éditer CategoryForum</h1>

    {{ include('category_forum/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('category_forum_index') }}"><button class="btn orange"> liste</button></a>

 </div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
