{% extends 'admin.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1 class="center-align">Nouvelle catégorie dans le Forum</h1>

    {{ include('category_forum/_form.html.twig') }}

    <a href="{{ path('category_forum_index') }}"><button class="btn orange"> liste</button></a>
{% endblock %}
