<form method="post" action="{{ path('message_forum_delete', {'id': message_forum.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message_forum.id) }}">
    <button class="btn red">Supprimer</button>
</form>
