{% extends 'admin.html.twig' %}

{% block title %}Éditer Message Forum{% endblock %}

{% block body %}
    <h1 class="center-align">éditer Message Forum</h1>

    {{ include('message_forum/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('message_forum_index') }}"><button class="btn orange"> liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
