{% extends 'base.html.twig' %}

{% block title %}New MessageForum{% endblock %}

{% block body %}
    <h4 class="center-align">Create new MessageForum</h4>

    {{ include('message_forum/_form.html.twig') }}

    <a href="{{ path('message_forum_index') }}">retours à la liste</a>
{% endblock %}
