{% extends 'base.html.twig' %}

{% block title %}Edit TimeStamp{% endblock %}

{% block body %}
    <h1>Edit TimeStamp</h1>

    {{ include('time_stamp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('time_stamp_index') }}">back to list</a>

    {{ include('time_stamp/_delete_form.html.twig') }}
{% endblock %}
