{% extends 'default.html.twig' %}

{% block title %}edit TimeStamp{% endblock %}

{% block body %}
    <h4 class="center-align">éditer TimeStamp</h4>
<div class="container">
	<div class="row formRegister z-depth-5">
    {{ include('time_stamp/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('time_stamp_index') }}"><button class="btn"></button></a>

    {{ include('time_stamp/_delete_form.html.twig') }}
    </div>

</div>
{% endblock %}
