{% extends 'default.html.twig' %}

{% block title %}Editer Agenda{% endblock %}

{% block body %}
    <h4 class="center-align">Editer Agendal</h4>
    {{ include('time_stamp/_form.html.twig', {'button_label': 'maj'}) }}
 <a href="{{ path('time_stamp_index') }}"><button class="btn orange"> liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}