{% extends 'default.html.twig' %}

{% block title %}Nouveau Agenda{% endblock %}

{% block body %}
    <h4 class="center-align">Créer nouvel évenement</h4>

    {{ include('time_stamp/_form.html.twig') }}

    <a href="{{ path('time_stamp_index')}}"><button class="btn orange"> liste</button></a>
{% endblock %}
