{% extends 'base.html.twig' %}

{% block title %}New TimeStamp{% endblock %}

{% block body %}
    <h1>Create new TimeStamp</h1>

    {{ include('time_stamp/_form.html.twig') }}

    <a href="{{ path('time_stamp_index') }}">back to list</a>
{% endblock %}
