{% extends 'default.html.twig' %}

{% block title %}New TimeStamp{% endblock %}

{% block body %}
    <h4 class="center-align">Create new TimeStamp</h4>

    {{ include('time_stamp/_form.html.twig') }}

    <a href="{{ path('admin')}}#agenda"><button class="btn orange"> liste</button></a>
{% endblock %}
