{% extends 'admin.html.twig' %}

{% block title %}Faq{% endblock %}

{% block body %}
  <h4 class="center-align">Créer FAQ</h4>

    {{ include('faq/_form.html.twig') }}

    <a href="{{ path('faq_index') }}"><button class="btn orange">liste</button></a>
{% endblock %}
