{% extends 'base.html.twig' %}

{% block title 'Mentions légales'%}

{% block body %}
<div class="container">
<div class="row z-depth-5 formRegister">
<h1 class="center-align">Mentions Légales</h1>
<h5>Informations sur l'éditeur du site :</h5>
<p>Association Des lames Du Ponant
Association régie par la loi du 1er juillet 1901
SIREN ?????????????
Numéro de TVA Intracommunautaire FR ?????????????????????

<p>Association Les Lames du Ponant
Rue des Droits de l'Homme
Saint-Malo-de-Guersac</p>

<p> 
Président de l'association Lames Du Ponant: Denis ?????????????

</p>
Directeur de la publication : Denis ??????????????</p>
<h5>Charte graphique du site :</h5>
<p>Charte graphique fournie par Gwendal Bescont</p>
<h5>Développement et Hébergement du site :</h5>
<p>O2SWITCH
222-224 Boulevard Gustave Flaubert
63000 Clermont-Ferrand
SARL o2switch au capital de 7500€
RCS : Clermont-Ferrand – SIRET : 510 909 80700016 – TVA : FR35510909807
La marque o2switch est déposée INPI sous le numéro 09 3 645 729.
http://www.o2switch.fr/</p>
<h5>1 - PROPRIÉTÉ DU SITE</h5>
<p>l'association Lames Du Ponantest le propriétaire du présent site : www.escrime-ffe.fr et de l'ensemble de ses sous domaines.</p>
<h5>2- CONTENU DU SITE</h5>
<p>On entend par Contenu du Site : la structure générale du Site, la charte graphique, l'ensemble des contenus diffusés sur ce Site, comme par exemple : les images, articles, photos, logos, marques, interview, textes...

Ce contenu est protégé par la législation en vigueur en France en matière de propriété intellectuelle et notamment le droit d'auteur, les droits voisins, le droit des marques, le droit à l'image et par législation internationale.

Par conséquent, toute représentation totale ou partielle de ce Site et de son Contenu (à l'exception de ce qui est prévu à l'article 10- Média), par quelques procédés que ce soient, sans autorisation préalable et expresse de la Fédération Française d'Escrime, est interdite et constituerait une contrefaçon sanctionnée notamment par les articles L335-2 et suivants du Code de la Propriété intellectuelle.</p>
<h5>3- LICENCE D'UTILISATION DU CONTENU DU SITE</h5>
<p>Du seul fait de sa connexion au Site, l'utilisateur reconnaît accepter de l'association Lames Du Ponantune licence d'usage du Contenu du Site strictement limitée aux conditions impératives suivantes : • La présente licence, accordée à titre non exclusif, n'est pas transmissible. • Le droit d'usage conféré à l'utilisateur est personnel et privé : c'est-à-dire que toute reproduction de tout ou partie du Contenu du Site sur un quelconque support pour un usage collectif ou professionnel, même en interne dans l'entreprise, est prohibée. Il en est de même pour toute communication de ce Contenu par voie électronique, même diffusé en intranet ou en extranet d'entreprise. • Cet usage comprend seulement l'autorisation de reproduire pour stockage aux fins de représentation sur écran monoposte et de reproduction en un exemplaire, pour copie de sauvegarde et tirage papier. Cet usage comprend également l'autorisation d'envoyer par mail un article du Site à un ami. • Tout autre usage est soumis à l'autorisation préalable et expresse de la Fédération Française d'Escrime. La violation de ces dispositions soumet le contrevenant et toutes personnes responsables aux peines pénales et civiles prévues par la loi française.</p>
<h5>4- DEMANDE D'AUTORISATION DE REPRODUCTION DE TOUT OU PARTIE DU CONTENU DU SITE</h5>
<p>Pour reproduire tout ou partie du Contenu (images, articles, photos, logos, marques, interview, textes...) sur support électronique (Web, intranet, CD-ROM...) ou sur support papier, adressez votre demande par le lien « Contact » (accessible depuis le bandeau situé en bas de chaque page), en nous précisant le contexte, la durée souhaitée, la nature du site, la présentation envisagée... N'oubliez pas de nous préciser également votre nom, le nom de votre association ou de votre entreprise, l'adresse URL de votre site, ainsi que vos coordonnées incluant votre e-mail.</p>
<h5>5- LOI INFORMATIQUE, FICHIERS ET LIBERTÉS</h5>
<p>Le Site a fait l'objet d'une déclaration auprès de la Commission nationale informatique et libertés (CNIL). • Le responsable du traitement des informations collectées est le président de la Fédération. • La finalité du traitement est de fournir des informations individuelles pour la gestion des membres, conformément aux dispositions statuaires qui régissent les intéressés. • Le destinataire des informations est le service informatique et service communication de la FFE. • Les informations sont conservées jusqu'à la démission ou la radiation du membre concerné par ces informations. • Lors de la collecte d'informations, un défaut de réponse dans un champ obligatoire d'un formulaire empêche de poursuivre l'inscription, alors qu'un défaut de réponse dans un champ facultatif permet de poursuivre l'inscription. • Conformément à la Loi « Informatique et Libertés » n° 78-17 du 6 janvier 1978, vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent. Vous pouvez l'exercer en adressant un message par le lien « Contact » (accessible depuis le bandeau situé en bas de chaque page) ou par courrier adressé à Fédération Française d'Escrime, 7 porte de Neuilly, 93160 Noisy-le-Grand.

Les utilisateurs du Site sont tenus de respecter les dispositions de la loi informatique, fichiers et libertés, dont la violation est passible de sanctions pénales. Ils doivent notamment s'abstenir, s'agissant des informations nominatives auxquelles ils accèdent, de toute collecte, de toute utilisation détournée, et d'une manière générale, de tout acte susceptible de porter atteinte à la vie privée ou à la réputation des personnes.

Afin de mieux vous servir, nous mesurons le nombre de pages vues, le nombre de visites, ainsi que l'activité des visiteurs sur le site, et leur fréquence de retour. A cet effet, nous utilisons la technologie des « cookies », ceux-ci sont émis par le serveur hébergeant le Site. Les cookies utilisés contiennent : un identifiant unique, généré aléatoirement et la date de votre dernière venue.

Vous pouvez vous opposer à l'enregistrement de cookies ou être prévenu avant d'accepter les cookies, en configurant votre ordinateur de la manière suivante : • Pour Firefox : choisissez le menu « Outils », puis « Options», onglet vie Privée, décocher «accepter les cookies» • Pour Microsoft Internet Explorer 8.0, 7.0 et antérieur choisissez le menu « Outils », puis « Options Internet ». Cliquez sur l'onglet « Confidentialité », et sélectionnez le niveau souhaité à l'aide du curseur ou cliquez sur le bouton « avancé » pour personnaliser votre gestion des cookies. • Pour Microsoft Internet Explorer 5 : choisissez le menu « Outils », puis « Options Internet ». Cliquez sur l'onglet « Sécurité » et sélectionnez « Internet » puis « Personnaliser le niveau ». Repérez la rubrique « cookies » et choisissez l'option qui vous convient. • Pour Netscape 6.X et 7.X : choisissez le menu « Edition » > « Préférences » > « Confidentialité et Sécurité » > « Cookies ». • Pour Opéra 6.0 et au-delà : choisissez le menu « Fichier » > « Préférences » > « Vie Privée ».</p>
<h5>6- LIENS HYPERTEXTES</h5>
<p>l'association Lames Du Ponantne saurait être tenue responsable du contenu, des données, des produits et informations diverses proposés à travers les sites vers lesquels des liens hypertextes sont réalisés. En particulier, l'association Lames Du Ponantse dégage de toute responsabilité relative aux sites dont les données ne seraient pas conformes aux dispositions légales et réglementaires en vigueur.

Les utilisateurs du Site de l'association Lames Du Ponantne peuvent mettre en place un lien hypertexte en direction de ce même site sans l'autorisation préalable et expresse du service communication de la FFE. Pour insérer un lien hypertexte entre votre site et le site, vous pouvez effectuer votre demande par le lien « Contact » (accessible depuis le bandeau situé en bas de chaque page).</p>
<h5>7- FORUM DE DISCUSSION, ET COMMENTAIRES</h5>
<p>Les adresses électroniques ou autres informations nominatives dont la FFE serait destinataire via l'espace forum ne feront l'objet d'aucune exploitation.

Un modérateur est susceptible de supprimer à posteriori, toute contribution qui ne serait pas en relation avec le thème de discussion abordé, la ligne éditoriale du Site, ou qui serait contraire à la Loi. Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des contributions qui vous concernent.</p>
<h5>8- RESPONSABILITÉ</h5>
<p>Dans la mesure de ce que la loi permet et des engagements expressément pris par la Fédération Française d'Escrime, sur le Site qu'elle a mis en ligne, ni l'association Lames Du Ponantni aucun de ses organismes affiliés, ni ses dirigeants, employés ou autres représentants, ne peuvent être tenus responsables des dommages aux utilisateurs du Site, que ce soit directement ou indirectement, ceux ci incluant notamment toute perte de données, de revenu, de chance ou de profit.

l'association Lames Du Ponantse réserve le droit à tout moment d'interrompre ou suspendre tout ou partie des Services qu'elle propose ou encore de modifier les Services existants pour en améliorer les facilités d'utilisation et ce sans obligation d'information préalable, ni d'indemnisation quelconque.

l'association Lames Du Ponantne garantit pas la conformité du Site à un usage ou besoin spécifique, ni un fonctionnement exempt d'interruptions, d'erreurs, de perturbations, de virus ou défaillances quelle qu'en soit la cause, cas de force majeure, fait d'autrui ou autre, ni la véracité, la fiabilité ou l'exactitude des informations mises en ligne ou la qualité des Services ou la conformité des Services ou des résultats recherchés aux attentes de l'Utilisateur.

 </p>
<h5>9- MÉDIAS</h5>
<p>Les communiqués de presse et la newsletter de la FFE sont libres de tout droits. Les informations figurant sur le site www.escrime-ffe.fr peuvent être reprises par les médias, sous réserve de citation de la source.</p>
<h5>10- LITIGES – DROIT APPLICABLE</h5>
<p>Les présentes Conditions Générales d'Utilisation du Site sont soumises au droit français. En cas de contentieux, les tribunaux</p>


</div></div>
{% endblock %}