{% extends 'base.html.twig' %}

{% block title 'Site-Map'%}

{% block body %}
<div class="container">

    <div class="row z-depth-5">
        <div id="site-map-full">
            <div id="top">
               
                <h5>
                    <a href="https://www.projet.gwendal-developpeur-web.fr">www.projet.gwendal-developpeur-web.fr
                        Homepage</a>
                    <span>Dernière maj : 22 septembre 2020<br />
                        Pages totales : 18</span>
                </h5>
            </div>
            <div id="cont">
                <ul class="level-0">

                    <li class="lhead">/
                        <span class="lcount">9 pages</span>
                    </li>

                    <li class="lpage">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/" title="
									       Les Lames Du Ponant">
                            Les Lames Du Ponant</a>
                    </li>
                    <li class="lpage">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/login" title="
									       Vous connecter
									">
                            Vous connecter
                        </a>
                    </li>
                    <li class="lpage">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/register" title="
									       Enregistrement d'un compte">
                            Enregistrement d'un compte</a>
                    </li>
                    <li class="lpage">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/infos" title="
									       Infos Les lames Du Ponant">
                            Infos Les lames Du Ponant</a>
                    </li>
                    <li class="lpage">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/disciplines" title="
									       Les disciplines">
                            Les disciplines</a>
                    </li>
                    <li class="lpage">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/lesamhe" title="
									        Les AMHE | Les Lames Du Ponant |Escrime médiévale">
                            Les AMHE | Les Lames Du Ponant |Escrime médiévale</a>
                    </li>
                    <li class="lpage">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/rgpd" title="
									       Politique de confidentialité">
                            Politique de confidentialité</a>
                    </li>
                    <li class="lpage">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/mentions-legales" title="
									       Mentions légales">
                            Mentions légales</a>
                    </li>
                    <li class="lpage last-page">
                        <a href="https://www.projet.gwendal-developpeur-web.fr/reset-password" title="
									       Reset your password">
                            Reset your password</a>
                    </li>
                    <li>
                        <ul class="level-1">

                            <li class="lhead">contact/
                            </li>
                            <li>
                                <ul class="level-2">

                                    <li class="lhead">message/
                                        <span class="lcount">1 pages</span>
                                    </li>

                                    <li class="lpage last-page">
                                        <a href="https://www.projet.gwendal-developpeur-web.fr/contact/message/new"
                                            title="
													       Contactez les Lames Du Ponant">
                                            Contactez les Lames Du Ponant</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="level-1">

                            <li class="lhead">forum/
                                <span class="lcount">1 pages</span>
                            </li>

                            <li class="lpage last-page">
                                <a href="https://www.projet.gwendal-developpeur-web.fr/forum/section" title="
											       Forum index">
                                    Forum index</a>
                            </li>
                            <li>
                                <ul class="level-2">

                                    <li class="lhead">categories/
                                        <span class="lcount">4 pages</span>
                                    </li>

                                    <li class="lpage">
                                        <a href="https://www.projet.gwendal-developpeur-web.fr/forum/categories/presentation-nouveaux-membres"
                                            title="
													       catégories">
                                            catégories</a>
                                    </li>
                                    <li class="lpage">
                                        <a href="https://www.projet.gwendal-developpeur-web.fr/forum/categories/presentation-de-lassociation"
                                            title="
													       catégories">
                                            catégories</a>
                                    </li>
                                    <li class="lpage">
                                        <a href="https://www.projet.gwendal-developpeur-web.fr/forum/categories/les-dernieres-news"
                                            title="
													       catégories">
                                            catégories</a>
                                    </li>
                                    <li class="lpage last-page">
                                        <a href="https://www.projet.gwendal-developpeur-web.fr/forum/categories/divers-blabla"
                                            title="
													       catégories">
                                            catégories</a>
                                    </li>
                                    <li>
                                        <ul class="level-3">

                                            <li class="lhead">sujet/
                                                <span class="lcount">3 pages</span>
                                            </li>

                                            <li class="lpage">
                                                <a href="https://www.projet.gwendal-developpeur-web.fr/forum/categories/sujet/denis-boulay-aka-el-president"
                                                    title="
															       message">
                                                    message</a>
                                            </li>
                                            <li class="lpage">
                                                <a href="https://www.projet.gwendal-developpeur-web.fr/forum/categories/sujet/emmanuel-mahe"
                                                    title="
															       message">
                                                    message</a>
                                            </li>
                                            <li class="lpage last-page">
                                                <a href="https://www.projet.gwendal-developpeur-web.fr/forum/categories/sujet/bonjour-a-tous"
                                                    title="
															       message">
                                                    message</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}