{% extends 'base.html.twig' %}

{% block title 'edition du profil'%}

{% block body %}
<main class="backgroundForum">
    {{ include('user/_form.html.twig', {'button_label': 'Maj '}) }}



</div></div>
 </main>
{% endblock %}
