{% extends 'admin.html.twig' %}

{% block title 'edition du profil'%}

{% block body %}
    <h4 class="center-align">édition des utilisateurs</h4>
    {{ include('user/_form.html.twig', {'button_label': 'Maj Profil'}) }}

    <a href="{{ path('user_index') }}">retour à la liste</a>

</div></div>

{% endblock %}
