{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h4 class="center-align">Create new User</h4>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">retour à la  liste</a>
{% endblock %}
