<form method="post" action="{{ path('contact_message_delete', {'id': contact_message.id}) }}" onsubmit="return confirm('Confirmer la suppression?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contact_message.id) }}">
    <button class="btn">Supprimer</button>
</form>
