<div class="container">

<div class="row formRegister z-depth-5">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btnForm">{{ button_label|default('envoyer') }}</button>
{{ form_end(form) }}

</div>
</div>
