{% extends 'base.html.twig' %}

{% block title %}

{% block body 'édition des messages'%}
    <h4 class="center-align">édition des messages</h4>

    {{ include('contact_message/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('contact_message_index') }}">retour à la liste</a>

    {{ include('contact_message/_delete_form.html.twig') }}
{% endblock %}
