{% extends 'base.html.twig' %}

{% block title 'Contactez les Lames Du Ponant'%}

{% block body %}
  <h4 class="center-align"> Contactez-nous pour toutes informations</h4>
      {{ include('contact_message/_form.html.twig') }} 
    <a href="{{ path('home') }}"><button class="btn green btnForm">retour à l'accueil</button></a>
{% endblock %}
