{% extends 'base.html.twig' %}

{% block title 'Contactez les Lames Du Ponant'%}

{% block body %}
  <h1 class="center-align TitleMessageNew" > Contactez-nous pour toutes informations</h1>
      {{ include('contact_message/_form.html.twig') }} 


</div>
</div>

  
{% endblock %}
