{% extends 'admin.html.twig' %}

{% block title %}edit SubjectForum{% endblock %}

{% block body %}
    <h1 class="center-align">Editer SubjectForum</h1>

    {{ include('subject_forum/_form.html.twig', {'button_label': 'maj'}) }}


<a href="{{ path('subject_forum_index') }}"><button class="btn orange"> liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}