{% extends 'admin.html.twig' %}

{% block title %}Nouveau Sujet{% endblock %}

{% block body %}
    <h4 class="center-align">Créer un nouveau sujet </h4>

    {{ include('subject_forum/_form.html.twig') }}

    <a href="{{ path('subject_forum_index') }}"><button class="btn orange"> liste</button></a>
{% endblock %}
