<form method="post" action="{{ path('home_pictures_deletes', {'id': home_pictures.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ home_pictures.id) }}">
    <button class="btn">Delete</button>
</form>
