{% extends 'base.html.twig' %}

{% block title %}Edit HomePictures{% endblock %}

{% block body %}
    <h4 class="center-align">édition des images de la page d'accueil</h4>

    {{ include('home_pictures/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('home_pictures_index') }}">retours en arrière</a>

    {{ include('home_pictures/_delete_form.html.twig') }}
{% endblock %}
