{% extends 'admin.html.twig' %}

{% block title %}Edit HomePictures{% endblock %}

{% block body %}
    <h1 class="center-align">édition des images de la page d'accueil</h1>

    {{ include('home_pictures/_form.html.twig', {'button_label': 'maj'}) }}

  <a href="{{ path('home_pictures_index') }}"><button class="btn orange"> liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}