<form method="post" action="{{ path('amhe_delete', {'id': amhe.id}) }}" onsubmit="return confirm('Voulez vous vraiment supprimer AMHE?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ amhe.id) }}">
    <button class="btn">Supprimer</button>
</form>
