{% extends 'default.html.twig' %}

{% block title 'édition AMHE'%}

{% block body %}
<h4 class="center-align"> editer amhe</h4>

     {{ include('amhe/_form.html.twig', {'button_label': 'maj'})}}

    <a href="{{ path('admin') }}#amhe"><button class="btn green btnForm">retour à la liste</button></a>

    {{ include('amhe/_delete_form.html.twig') }}
   
{% endblock %}
