{% extends 'base.html.twig' %}

{% block title 'édition AMHE'%}

{% block body %}
<h4 class="center-align"> editer amhe</h4>
<div class="container">
    <div class="row">
     {{ include('amhe/_form.html.twig', {'button_label': 'maj'}) }}</div>
</div>

   

    <a href="{{ path('amhe_index') }}">retour à la liste</a>

    {{ include('amhe/_delete_form.html.twig') }}
{% endblock %}
