{% extends 'admin.html.twig' %}

{% block title 'édition AMHE'%}

{% block body %}
<h4 class="center-align"> editer amhe</h4>

     {{ include('amhe/_form.html.twig', {'button_label': 'maj'})}}

    <a href="{{ path('amhe_index') }}"><button class="btn orange"> liste</button></a>

</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}
   
