{% extends 'admin.html.twig' %}

{% block title %}Créer info{% endblock %}

{% block body %}
    <h1 class="center-align">Créer Info</h1>

    {{ include('home_info/_form.html.twig') }}

   <a href="{{ path('home_info_index') }}"><button class="btn orange">liste</button></a>
{% endblock %}
