{% extends 'base.html.twig' %}

{% block title 'Renouveler mot de passe'%}

{% block body %} 
<div class="container">
    <div class="row">
    <p>Un email vient de vous être envoyé sur l'email renseigné lors de l'enregistrement sur le site. Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous ne recevez pas d'émail de vérification, regarder dans vos spam ou <a href="{{ path('app_forgot_password_request') }}">renvoyer un mail deconfirmation</a>.</p>
    </div>
</div> 
{% endblock %}
