<h4 class="center-align">Bonjour</h4>

<div class="container">
<div class="row">
<p>
    Pour renouveler votre mot de passe veuillez cliquer
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">ici</a>
    Ce lien expirera dans {{ tokenLifetime|date('g') }} heure(s)..
</p>
<p>
   Merci!
</p>
</div>
</div>
