{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<div class="container">
	<div class="row formRegister z-depth-5">
    <h5 class="center-align "> Renouveler son  mot de passe</h5>
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="smallResetPassword">
            <small >
              Veuillez entrer votre email utilisé lors de l'inscription afin de pouvoir réinitialiser votre mot de passe
            </small>
        </div>
        <button class="btn btn-primary">Renouveler son mot de passe</button>
    {{ form_end(requestForm) }}
    	</div>
		</div>
{% endblock %}