{% extends 'base.html.twig' %}

{% block title 'renouvellement mdp' %}

{% block body %}
    {{ form_start(resetForm) }}
    	<div class="container">
		<div class="row formRegister z-depth-5" >
			     <h5 class="center-align ">Renouvellement mot de passe Les Lames du Ponant</h5>		
			<div class="input-field col s12 l12 m12 ">
        {{ form_row(resetForm.plainPassword.first) }}
        </div>
            <div class="input-field col s12 l12 m12">
              {{ form_row(resetForm.plainPassword.second) }}
              </div>
		  <div class="input-field col s12 l12 m12">
        <button class="btn btn-primary">Reset password</button>
   	</div>
    {{ form_end(resetForm) }}
{% endblock %}
