<form method="post" action="{{ path('les_lames_du_ponant_delete', {'id': les_lames_du_ponant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ les_lames_du_ponant.id) }}">
    <button class="btn">Delete</button>
</form>
