{% extends 'default.html.twig' %}

{% block title %}Edit Les LamesDuPonant{% endblock %}

{% block body %}
      <h4 class="center-align">éditer Les Lames Du Ponant</h4>
<div class="container">
	<div class="row formRegister z-depth-5">
    {{ include('les_lames_du_ponant/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('admin') }}#lldp"><button class="btn green btnForm">retour à la liste</button></a>

    {{ include('les_lames_du_ponant/_delete_form.html.twig') }}
    </div>

</div>
{% endblock %}
