{% extends 'admin.html.twig' %}

{% block title %}Éditer Les LamesDuPonant{% endblock %}

{% block body %}
      <h4 class="center-align">éditer Les Lames Du Ponant</h4>

    {{ include('les_lames_du_ponant/_form.html.twig', {'button_label': 'maj'}) }}

  <a href="{{ path('les_lames_du_ponant_index') }}"><button class="btn orange"> liste</button></a>
</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}