{% extends 'base.html.twig' %}

{% block title %}New LesLamesDuPonant{% endblock %}

{% block body %}
    <h4 class="center-align">Create new LesLamesDuPonant</h4>

    {{ include('les_lames_du_ponant/_form.html.twig') }}

    <a href="{{ path('les_lames_du_ponant_index') }}">retours à la liste</a>
{% endblock %}
