{% extends 'default.html.twig' %}

{% block title %}New LesLamesDuPonant{% endblock %}

{% block body %}
    <h1>Create new LesLamesDuPonant</h1>

    {{ include('les_lames_du_ponant/_form.html.twig') }}

    <a href="{{ path('les_lames_du_ponant_index') }}">back to list</a>
{% endblock %}
