{% extends 'base.html.twig' %}

{% block title %}edit HomeSectionForum{% endblock %}

{% block body %}
    <h4 class="center-align">éditer HomeSectionForum</h4>

    {{ include('home_section_forum/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('home_section_forum_index') }}">retours à la liste</a>

    {{ include('home_section_forum/_delete_form.html.twig') }}
{% endblock %}
