{% extends 'admin.html.twig' %}

{% block title %}Éditer Section Forum{% endblock %}

{% block body %}
    <h4 class="center-align">éditer HomeSectionForum</h4>

    {{ include('home_section_forum/_form.html.twig', {'button_label': 'maj'}) }}

    <a href="{{ path('home_section_forum_index') }}"><button class="btn orange"> liste</button></a>

</div>
{{ form_end(form) }}
</div>
</div>
{% endblock %}