{% extends 'base.html.twig' %}

{% block title %}New HomeDiscipline{% endblock %}

{% block body %}
    <h4 class="center-align">Create new HomeDiscipline</h4>

    {{ include('home_discipline/_form.html.twig') }}

    <a href="{{ path('home_discipline_index') }}">retours à la liste</a>
{% endblock %}
