{% extends 'default.html.twig' %}

{% block title %}New HomeDiscipline{% endblock %}

{% block body %}
    <h4 class="center-align">Create new HomeDiscipline</h4>

    {{ include('home_discipline/_form.html.twig') }}

    <a href="{{ path('admin') }}#discipline"><button class="btn">retours à la liste</button> </a>
{% endblock %}
