{% extends 'admin.html.twig' %}

{% block title 'Nouv Discipline'%}

{% block body %}
    <h4 class="center-align">Créer nouvelle discipline</h4>

    {{ include('home_discipline/_form.html.twig') }}

    <a href="{{ path('admin') }}#discipline"><button class="btn btnForm"><button class="btn orange"> liste</button></button> </a>
{% endblock %}
