{% extends 'admin.html.twig' %}

{% block title 'Nouv Discipline'%}

{% block body %}
    <h4 class="center-align">Créer nouvelle discipline</h4>

    {{ include('home_discipline/_form.html.twig') }}

   <a href="{{ path('home_discipline_index') }}"><button class="btn orange">liste</button></a>
{% endblock %}
